<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="app-logout">
    <template>
		<style>
			:host {
				margin: 0;
				padding: 0;
			}
			a {
				color: #fff;
				display: inline-block;
				font-size: 13px;
			}
		</style>
		<template>
			<paper-button raised on-tap="logout">Log Out</paper-button>
		</template>

    <template>
			<a on-tap="logout" href>Log Out</a>
		</template>
    </template>

    <script>
        (function() {
            Polymer({
                is: 'app-logout',
                properties: {
                    storedUser: Object,
                    link: {
                        type: Boolean,
                        value: false
                    }
                },
                logout: function() {
                    // remove user data
                    this.storedUser = null;
                }
            });
        }());
    </script>
</dom-module>
