<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="app-data.html">

<dom-module id="app-main">
    <template>
      <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
      <app-data key="userData" data="{{storedUser}}"></app-data>
        <style>
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;

                display: block;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;

                padding: 0 16px;

                text-decoration: none;

                color: var(--app-secondary-color);

                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;

                font-weight: bold;
            }
        </style>

        <app-location route="{{route}}"></app-location>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <app-drawer-layout fullbleed>
            <!-- Drawer content -->
            <app-drawer>
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="app-home" href="/">Home</a>
                    <paper-button name="app-discover" href="/app-discover">Discover</paper-button>
                </iron-selector>
            </app-drawer>

            <!-- Main content -->
            <app-header-layout has-scrolling-region>

              <app-header condenses reveals effects="waterfall">
                <app-toolbar>
                  <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                  <div main-title>Cooking blog</div>
                  <a name="app-login-register" href="/app-login-register" hidden$="[[storedUser.loggedin]]">
                    <paper-button>Log In</paper-button>
                  </a>
                  <div hidden$="[[!storedUser.loggedin]]">
                    <span class="greeting">Hi [[storedUser.name]]!</span>
                    <app-logout stored-user="{{storedUser}}"></app-logout>
                  </div>
                </app-toolbar>
              </app-header>

                <iron-pages
                        selected="[[page]]"
                        attr-for-selected="name"
                        fallback-selection="view404"
                        role="main">
                    <app-home name="app-home"></app-home>
                    <app-discover name="app-discover"></app-discover>
                    <app-login-register name="app-login-register"></app-login-register>
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>

    <script>
        Polymer({
            is: 'app-main',

            properties: {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged'
                }
            },

            observers: [
                '_routePageChanged(routeData.page)'
            ],

            _routePageChanged: function(page) {
                this.page = page || 'app-home';
            },

            _pageChanged: function(page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl(page + '.html');
                this.importHref(resolvedPageUrl, null, this._showPage404, true);
            },

            _showPage404: function() {
                this.page = 'app-404';
            }
        });
    </script>
</dom-module>
